Repository The-Ronin-Project/ehr-data-authority: changes, and which Codecov flags are due for each by the changed paths.
All: ehr-data-authority-server, server, client, models

codecov.yaml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      ehr-data-authority-server:
        target: auto
        threshold: 1%
        flags:
          - ehr-data-authority-server
      default:
        mock-ehr:
          target: 80
          threshold: 1%
          base: auto
    patch:
      default:
        target: 80
        threshold: 1%
        base: auto

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  branches: []
  show_carryforward_flags: false

flags:
  ehr-data-authority-server:
    paths:
      - ehr-data-authority-server/
    carryforward: true

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      server:
        target: auto
        threshold: 1%
        flags:
          - server
      client:
        target: auto
        threshold: 1%
        flags:
          - client
      models:
        target: auto
        threshold: 1%
        flags:
          - models
    patch:
      default:
        target: 80
        threshold: 1%
        base: auto

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  branches: [ ]
  show_carryforward_flags: false

flags:
  server:
    paths:
      - ehr-data-authority-server/
    carryforward: true
  client:
    paths:
      - ehr-data-authority-client/
    carryforward: true
  models:
    paths:
      - ehr-data-authority-models/
    carryforward: true

INT-2205: fix kafka IT (#138)
  ehr-data-authority-server/ehr-data-authority-server.gradle.kts
  ehr-data-authority-server/src/it/kotlin/com/projectronin/ehr/dataauthority/testclients/KafkaClient.kt
  gradle/libs.versions.toml
Due: ehr-data-authority-server, server

INT-2187: Split out Kafka Topic config (#140)
  ehr-data-authority-models/ehr-data-authority-models.gradle.kts
  ehr-data-authority-models/src/main/kotlin/com/projectronin/ehr/dataauthority/models/kafka/EhrDAKafkaTopic.kt
  ehr-data-authority-models/src/main/kotlin/com/projectronin/ehr/dataauthority/models/kafka/KafkaTopicConfig.kt
  ehr-data-authority-models/src/test/kotlin/com/projectronin/ehr/dataauthority/models/kafka/KafkaTopicConfigTest.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/kafka/KafkaPublisher.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/kafka/KafkaPublisherTest.kt
Due: ehr-data-authority-server, server, models

INT-2246: Update EHR for validation changes (#143)
  .github/workflows/build_deploy.yaml
  gradle/libs.versions.toml
Due: none

INT-2173: validation and topic for MedAdmin (#146)
  ehr-data-authority-models/src/main/kotlin/com/projectronin/ehr/dataauthority/models/kafka/KafkaTopicConfig.kt
  ehr-data-authority-models/src/test/kotlin/com/projectronin/ehr/dataauthority/models/kafka/KafkaTopicConfigTest.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/validation/ValidatorMappingConfig.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/validation/ValidatorMappingConfigTest.kt
  gradle/libs.versions.toml
Due: ehr-data-authority-server, server, models

INT-2254: New ITs to prove out fix (#145)
  ehr-data-authority-server/src/it/kotlin/com/projectronin/ehr/BaseEHRDataAuthority.kt
  ehr-data-authority-server/src/it/kotlin/com/projectronin/ehr/dataauthority/BaseEHRDataAuthorityIT.kt
  ehr-data-authority-server/src/it/kotlin/com/projectronin/ehr/dataauthority/controllers/ResourcesSearchControllerIT.kt
  ehr-data-authority-server/src/it/kotlin/com/projectronin/ehr/dataauthority/controllers/ResourcesWriteControllerIT.kt
  ehr-data-authority-server/src/it/kotlin/com/projectronin/ehr/dataauthority/testclients/AidboxClient.kt
  ehr-data-authority-server/src/it/kotlin/com/projectronin/ehr/dataauthoritylocal/BaseEHRDataAuthorityLocalIT.kt
  ehr-data-authority-server/src/it/resources/mock-oci/expectations/init-expectations.json
  gradle/libs.versions.toml
Due: ehr-data-authority-server, server

INT-2279: Set appropriate ObjectMapper (#149)
  ehr-data-authority-server/ehr-data-authority-server.gradle.kts
  ehr-data-authority-server/src/it/kotlin/com/projectronin/ehr/dataauthority/controllers/ResourcesWriteControllerIT.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/EHRDataAuthorityServer.kt
Due: ehr-data-authority-server, server

INT-2882: Include empty lists in responses (#150)
  ehr-data-authority-server/src/it/kotlin/com/projectronin/ehr/dataauthority/controllers/ResourcesSearchControllerIT.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/EHRDataAuthorityServer.kt
Due: ehr-data-authority-server, server

INT-2294: Better handling for batches that are too large (#154)
  ehr-data-authority-client/src/main/kotlin/com/projectronin/ehr/dataauthority/client/EHRDataAuthorityClient.kt
  ehr-data-authority-client/src/test/kotlin/com/projectronin/ehr/dataauthority/client/EHRDataAuthorityClientTest.kt
Due: client

[INT-2217] ServiceRequest Validation and Topic (#155)
  ehr-data-authority-models/src/main/kotlin/com/projectronin/ehr/dataauthority/models/kafka/KafkaTopicConfig.kt
  ehr-data-authority-models/src/test/kotlin/com/projectronin/ehr/dataauthority/models/kafka/KafkaTopicConfigTest.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/validation/ValidatorMappingConfig.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/validation/ValidatorMappingConfigTest.kt
Due: ehr-data-authority-server, server, models

Update EHR Data Authority with validation and topic for Procedure (#158)
  ehr-data-authority-models/src/main/kotlin/com/projectronin/ehr/dataauthority/models/kafka/KafkaTopicConfig.kt
  ehr-data-authority-models/src/test/kotlin/com/projectronin/ehr/dataauthority/models/kafka/KafkaTopicConfigTest.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/validation/ValidatorMappingConfig.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/validation/ValidatorMappingConfigTest.kt
Due: ehr-data-authority-server, server, models

[INT-2242] Update EHR Data Authority with validation and topic for DiagnosticReport (#157)
  ehr-data-authority-models/src/main/kotlin/com/projectronin/ehr/dataauthority/models/kafka/KafkaTopicConfig.kt
  ehr-data-authority-models/src/test/kotlin/com/projectronin/ehr/dataauthority/models/kafka/KafkaTopicConfigTest.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/validation/ValidatorMappingConfig.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/validation/ValidatorMappingConfigTest.kt
Due: ehr-data-authority-server, server, models

INT-2309: Move to SonarQube and single unit test GHA (#159)
  .github/workflows/client_test.yaml
  .github/workflows/models_test.yaml
  .github/workflows/server_test.yaml
  .github/workflows/test.yaml
  build.gradle.kts
  codecov.yml
  gradle/libs.versions.toml
Due: none

Fix deploy action (#161)
  .github/workflows/build_deploy.yaml
Due: none

Update to use basic-gradle-build-publish action (#165)
  .github/workflows/test.yaml
Due: none

INT-2362: Add William and update GHA runners (#166)
  .github/workflows/build_deploy.yaml
  .github/workflows/create_release.yaml
  .github/workflows/lint.yaml
  .github/workflows/server_it.yaml
  .github/workflows/snapshot_publish.yaml
  .github/workflows/test.yaml
  .github/workflows/verify_mergeable.yaml
  CODEOWNERS
Due: none

Int 2354 retry on 401 for aidbox (#169)
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/aidbox/AidboxClient.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/aidbox/auth/AidboxAuthenticationBroker.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/aidbox/AidboxClientTest.kt
Due: ehr-data-authority-server, server

INT-2355: delete session before getting a new token (#171)
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/aidbox/auth/AidboxAuthenticationBroker.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/aidbox/auth/AidboxAuthenticationService.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/aidbox/auth/AuthenticationBrokerTest.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/aidbox/auth/AuthenticationServiceTest.kt
Due: ehr-data-authority-server, server

INT-2405: Upgrade to JDK 17 (#173)
  ehr-data-authority-server/src/it/resources/docker-compose-it.yaml
  ehr-data-authority-server/src/it/resources/docker-compose-local.yaml
  ehr-data-authority-server/src/it/resources/mock-oci/expectations/init-expectations.json
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/SecurityConfig.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/SecurityConfigTest.kt
  gradle/libs.versions.toml
Due: ehr-data-authority-server, server

Int 2404 move auth retry to http client util (#174)
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/aidbox/AidboxClient.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/aidbox/auth/AidboxAuthenticationBroker.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/aidbox/AidboxClientTest.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/aidbox/auth/AuthenticationBrokerTest.kt
  gradle/libs.versions.toml
Due: ehr-data-authority-server, server

init commit (#176)
  ehr-data-authority-client/ehr-data-authority-client.gradle.kts
  ehr-data-authority-client/src/main/kotlin/com/projectronin/ehr/dataauthority/client/spring/EHRDataAuthorityClientSpringConfig.kt
  ehr-data-authority-client/src/test/kotlin/com/projectronin/ehr/dataauthority/client/spring/EHRDataAuthorityClientSpringConfigTest.kt
  ehr-data-authority-server/ehr-data-authority-server.gradle.kts
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/EHRDataAuthorityServer.kt
Due: ehr-data-authority-server, server, client

INT-2383: Update to use interop-rcdm (#177)
  ehr-data-authority-client/ehr-data-authority-client.gradle.kts
  ehr-data-authority-server/ehr-data-authority-server.gradle.kts
  ehr-data-authority-server/src/it/kotlin/com/projectronin/ehr/BaseEHRDataAuthority.kt
  ehr-data-authority-server/src/it/kotlin/com/projectronin/ehr/dataauthority/BaseEHRDataAuthorityIT.kt
  ehr-data-authority-server/src/it/kotlin/com/projectronin/ehr/dataauthority/controllers/ResourcesWriteControllerIT.kt
  ehr-data-authority-server/src/it/resources/docker-compose-it.yaml
  ehr-data-authority-server/src/it/resources/docker-compose-local.yaml
  ehr-data-authority-server/src/it/resources/mock-oci/expectations/init-expectations.json
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/EHRDataAuthorityServer.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/controllers/ResourcesWriteController.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/validation/ValidationManager.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/validation/ValidationResponse.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/validation/ValidatorMapping.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/validation/ValidatorMappingConfig.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/controllers/ResourcesWriteControllerTest.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/validation/ValidationManagerTest.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/validation/ValidatorMappingConfigTest.kt
  gradle/libs.versions.toml
Due: ehr-data-authority-server, server, client

INT-2412: added swagger to ehrda (#179)
  build.gradle.kts
  ehr-data-authority-models/ehr-data-authority-models.gradle.kts
  ehr-data-authority-models/src/main/kotlin/com/projectronin/ehr/dataauthority/models/ChangeStatusResource.kt
  ehr-data-authority-models/src/main/kotlin/com/projectronin/ehr/dataauthority/models/FailedResource.kt
  ehr-data-authority-models/src/main/kotlin/com/projectronin/ehr/dataauthority/models/FoundResourceIdentifiers.kt
  ehr-data-authority-models/src/main/kotlin/com/projectronin/ehr/dataauthority/models/IdentifierSearchResponse.kt
  ehr-data-authority-models/src/main/kotlin/com/projectronin/ehr/dataauthority/models/SucceededResource.kt
  ehr-data-authority-server/ehr-data-authority-server.gradle.kts
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/SpringDocConfiguration.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/controllers/ResourcesChangeController.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/controllers/ResourcesDeleteController.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/controllers/ResourcesSearchController.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/controllers/ResourcesWriteController.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/SpringDocConfigurationTest.kt
  gradle/libs.versions.toml
Due: ehr-data-authority-server, server, models

INT-2430: remove delete session logic and tests (#185)
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/aidbox/auth/AidboxAuthenticationBroker.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/aidbox/auth/AidboxAuthenticationService.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/aidbox/auth/AuthenticationBrokerTest.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/aidbox/auth/AuthenticationServiceTest.kt
Due: ehr-data-authority-server, server

INT-2394 changed EHRDA AuthenticationService to use generic InteropAu… (#186)
  ehr-data-authority-client/src/main/kotlin/com/projectronin/ehr/dataauthority/client/EHRDataAuthorityClient.kt
  ehr-data-authority-client/src/main/kotlin/com/projectronin/ehr/dataauthority/client/auth/EHRDataAuthorityAuthenticationConfig.kt
  ehr-data-authority-client/src/main/kotlin/com/projectronin/ehr/dataauthority/client/auth/EHRDataAuthorityAuthenticationService.kt
  ehr-data-authority-client/src/test/kotlin/com/projectronin/ehr/dataauthority/client/EHRDataAuthorityClientTest.kt
  ehr-data-authority-client/src/test/kotlin/com/projectronin/ehr/dataauthority/client/auth/EHRDataAuthorityAuthenticationServiceTest.kt
  ehr-data-authority-server/src/it/kotlin/com/projectronin/ehr/BaseEHRDataAuthority.kt
Due: ehr-data-authority-server, server, client

Upgrade RCDM to address INT-2474 (#192)
  gradle/libs.versions.toml
Due: none

INT-2515: Add new Kafka attributes to EHRDA events (#196)
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/controllers/ResourcesWriteController.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/kafka/KafkaPublisher.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/kafka/KafkaPublisherTest.kt
  gradle/libs.versions.toml
Due: ehr-data-authority-server, server

INT-2573: Cleanup Docker setup (#203)
  docker-compose.yaml
  ehr-data-authority-server/ehr-data-authority-server.gradle.kts
  ehr-data-authority-server/src/it/kotlin/com/projectronin/ehr/BaseEHRDataAuthority.kt
  ehr-data-authority-server/src/it/kotlin/com/projectronin/ehr/dataauthority/BaseEHRDataAuthorityIT.kt
  ehr-data-authority-server/src/it/kotlin/com/projectronin/ehr/dataauthoritylocal/BaseEHRDataAuthorityLocalIT.kt
  ehr-data-authority-server/src/it/kotlin/com/projectronin/ehr/dataauthoritylocal/controllers/ResourcesWriteControllerLocalIT.kt
  ehr-data-authority-server/src/it/resources/docker-compose-it.yaml
  ehr-data-authority-server/src/it/resources/docker-compose-local.yaml
  gradle/libs.versions.toml
Due: ehr-data-authority-server, server

INT-2606: Rework flow to reduce external calls
  ehr-data-authority-server/src/it/kotlin/com/projectronin/ehr/dataauthority/controllers/ResourcesWriteControllerIT.kt
  ehr-data-authority-server/src/it/kotlin/com/projectronin/ehr/dataauthority/testclients/AidboxClient.kt
  ehr-data-authority-server/src/it/kotlin/com/projectronin/ehr/dataauthority/testclients/DBClient.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/aidbox/AidboxClient.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/change/ChangeDetectionService.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/change/data/ResourceHashesDAO.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/change/data/services/DataStorageService.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/change/data/services/ResourceHashDAOService.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/change/data/services/ResourceId.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/controllers/ResourcesSearchController.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/controllers/ResourcesWriteController.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/kafka/KafkaPublisher.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/local/LocalStorageClient.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/local/LocalStorageMapHashDAO.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/publish/PublishService.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/aidbox/AidboxClientTest.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/change/ChangeDetectionServiceTest.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/change/data/ResourceHashesDAOTest.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/controllers/ResourcesWriteControllerTest.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/kafka/KafkaPublisherTest.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/local/LocalStorageClientTest.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/local/LocalStorageMapHashTest.kt
  ehr-data-authority-server/src/test/kotlin/com/projectronin/ehr/dataauthority/publish/PublishServiceTest.kt
  ehr-data-authority-server/src/test/resources/dbunit/hashes/ExpectedHashesAfterDelete.yaml
  ehr-data-authority-server/src/test/resources/dbunit/hashes/MultipleHashes.yaml
  gradle/libs.versions.toml
Due: ehr-data-authority-server, server

INT-2605: adding trace (#206)
  ehr-data-authority-client/ehr-data-authority-client.gradle.kts
  ehr-data-authority-client/src/main/kotlin/com/projectronin/ehr/dataauthority/client/EHRDataAuthorityClient.kt
  ehr-data-authority-models/src/main/kotlin/com/projectronin/ehr/dataauthority/models/IdentifierSearchResponse.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/controllers/ResourcesDeleteController.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/controllers/ResourcesSearchController.kt
  gradle/libs.versions.toml
Due: ehr-data-authority-server, server, client, models

PR comments
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/kafka/KafkaPublisher.kt
  ehr-data-authority-server/src/main/kotlin/com/projectronin/ehr/dataauthority/publish/PublishService.kt
Due: ehr-data-authority-server, server
